body{
    background-image: url('./assets/foto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section{
    height: 100vh;
    // margin: 10px;
    // padding: 5px 5px 2.5px;
    background-color: rgba(0, 0, 0, 0.6);
    @include blur;

    .container_section{
        border-radius: 20px;
        // box-shadow: 0 0 500px rgb(255, 0, 0);
        height: 100%;
        width: 100%;
        padding: 150px 20px 0;

    }
}